/* FONTS */
@font-face {
  font-family: "baufra";
    src: url('../fonts/baufra_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "baufra";
    src: url('../fonts/baufra.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "baufra";
    src: url('../fonts/baufra_medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "baufra";
    src: url('../fonts/baufra_semi_bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
