.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 7px 20px;
  border: 1px solid #8c97a0;
  border-radius: 30px;  
  font-weight: 500;
  line-height: 1;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: $color-text;
  background-color: #ffffff;
  overflow: hidden;
  text-transform: lowercase;

  cursor: pointer;

  transition: border 0.2s linear, color 0.2s linear;
}

.button:hover,
.button:focus {
  border: 1px solid $color-accent;
  color: $color-accent;
}

.button--dark {
  background-color: $color-dark;

  &:hover {
    background-color: $color-accent;
  }
}
