.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  min-width: 50px;
  height: 30px;
  margin-left: 15px;
  padding: 0;

  overflow: visible;
}

.cart-btn__icon {
  fill: $color-text;

  transition: fill 0.2s linear;
}

.cart-btn:hover .cart-btn__icon,
.cart-btn:focus .cart-btn__icon {
  fill: $color-accent;
}

.cart-btn__add-icon {
  // position: absolute;
  // top: 0;
  // left: 50%;
  // transform: translate(-50%, -110%);
  // width: 50px;
  // height: 50px;
}