.contact-us__wrap {
  position: relative;
  padding: 30px;
  background-color: #54606f;
  background-repeat: no-repeat;
  background-size: 0 0;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    height: 25px;
    background-image: url('../img/next-mob.png');
    background-position: center;
  }
}

.contact-us {
  color: #ffffff;
}

.contact-us__title {
  margin: 30px 0;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 600;
}

.contact-us__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  margin-bottom: 30px;
}

.contact-us__item span {
  margin-bottom: 20px;
}

.contact-us__link {
  color: #ffffff;
  text-decoration: none;
}

.contact-us__link:hover,
.contact-us__link:focus {
  text-decoration: underline;
}

@media (min-width: $tabletS) {
  .contact-us__wrap {
    background-position: 10% 55%;
    background-size: 250px;
  }

  .contact-us {
    margin-left: 60%;
  }

  .contact-us__item span {
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet) {
  .contact-us__wrap {
    background-size: 300px;
  }
}

@media (min-width: $desktopXS) {
  .contact-us__wrap {

    &::before {
      top: 0;
      left: 100%;
      right: unset;
      bottom: 0;
      width: 25px;
      height: unset;
      background-image: url('../img/next.png');
    }
  }
}

@media (min-width: $desktopS) {
  .contact-us__wrap {
    padding-top: 120px;
    padding-bottom: 160px;
    background-size: 320px;
    background-position: 10% 52%;
  }
}
