.intro {
  width: 100%;
}

.intro img {
  display: block;
  width: 100%;
  }

@media (min-width: $desktopXS) {
  .intro img {
    display: block;
    width: 100%;
    max-width: 1920px;
    height: 400px;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
}