.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include list-reset;
  margin-right: -20px;
  margin-bottom: -10px;
}

.nav__item {
  margin-right: 20px;
  margin-bottom: 10px;
}

.nav__link {
  padding: 5px;
}

@media (min-width: $tablet) {
  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: -30px;
  }

  .nav__item {
    margin-right: 30px;
  }
}
