.title {
  position: relative;
  z-index: 1;
  margin: 30px 0;
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
}

.title__content {
  position: relative;
  z-index: 1;
  min-height: 60px;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  font-size: 25px;
  
  background-color: #f4f6f8;

  &::before {
    content: "";
    position: absolute;
    left: -9999px;
    right: -9999px;
    top: 0;
    z-index: -1;
    height: 60px;
    background: linear-gradient(to bottom, #fefefe, #f4f6f8);
  }
}

p.title__content {
  width: 100%;
  text-align: center;
}

.title__img {
  display: block;
  width: 180px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;

  &::before {}
}

@media (min-width: $tablet) {
  .title__content {
    &::before {
      left: 100%;
      height: 60px;
    }
  }

  p.title__content {
    padding-right: 50px;
    width: auto;
    text-align-last: left;
  }

  .title__img {
    width: 200px;
    margin: 0;
  }
}
